node_modules
dist
allure-report
allure-results
rest-results
logs
results
downloads
screenshots
dow
Dockerfile
Jenkinsfile
*.properties
*.spec
*.log
*.json
*.mp4
*.png
*.html
*.csv
*.xlsx
*.md
*.pdf
*.txt
*.docx
*.meta
*.webm
*.xml
*.yml
